# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
out
gen
.gitignore
target/


/src/com/module/recognition/pythonCode/tempVoice/


/src/com/module/spider/pythonCode/music/spiders/__init__.py
/src/com/module/spider/pythonCode/music/__init__.py
/resources/sys/db-config.properties
/webapp/WEB-INF/voice/
/song/
/resources/sys/filePath.properties
/webapp/WEB-INF/song/
.idea/dataSources.local.xml
.idea/workspace.xml
src/com/module/recognition/pythonCode/feature.pyc
src/com/module/recognition/pythonCode/frame.pyc
src/com/module/recognition/pythonCode/st_feature.pyc
src/com/module/recognition/pythonCode/vad.pyc
src/com/module/spider/pythonCode/music/__init__.pyc
src/com/module/spider/pythonCode/music/items.pyc
src/com/module/spider/pythonCode/music/pipelines.pyc
src/com/module/spider/pythonCode/music/settings.pyc
src/com/module/spider/pythonCode/music/spiders/__init__.pyc
src/com/module/spider/pythonCode/music/spiders/musicSpider.pyc
webapp/WEB-INF/song/
webapp/WEB-INF/static/css/
webapp/WEB-INF/static/image/
webapp/speech/
