# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
out
gen
.gitignore
target/


/src/com/module/recognition/pythonCode/tempVoice/


/src/com/module/spider/pythonCode/music/spiders/__init__.py
/src/com/module/spider/pythonCode/music/__init__.py
/resources/sys/db-config.properties
/webapp/WEB-INF/voice/
/webapp/WEB-INF/song/
/resources/sys/filePath.properties
