<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.persistence.dao.SpeechDao" >
  <resultMap id="BaseResultMap" type="com.sys.persistence.domain.Speech" >
    <id column="SPEECH_ID_" property="speechId" jdbcType="INTEGER" />
    <result column="USER_ID_" property="userId" jdbcType="INTEGER" />
    <result column="DATE_" property="date" jdbcType="TIMESTAMP" />
    <result column="SILK_PATH_" property="silkPath" jdbcType="VARCHAR" />
    <result column="WEBN_PATH_" property="webnPath" jdbcType="VARCHAR" />
    <result column="WAV_PATH_" property="wavPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SPEECH_ID_, USER_ID_, DATE_, SILK_PATH_, WEBN_PATH_, WAV_PATH_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_speech
    where SPEECH_ID_ = #{speechId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sys_speech
    where USER_ID_ = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_speech
    where SPEECH_ID_ = #{speechId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sys.persistence.domain.Speech" >
    insert into sys_speech (SPEECH_ID_, USER_ID_, DATE_, 
      SILK_PATH_, WEBN_PATH_, WAV_PATH_
      )
    values (#{speechId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, 
      #{silkPath,jdbcType=VARCHAR}, #{webnPath,jdbcType=VARCHAR}, #{wavPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.persistence.domain.Speech" >
    insert into sys_speech
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="speechId != null" >
        SPEECH_ID_,
      </if>
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="date != null" >
        DATE_,
      </if>
      <if test="silkPath != null" >
        SILK_PATH_,
      </if>
      <if test="webnPath != null" >
        WEBN_PATH_,
      </if>
      <if test="wavPath != null" >
        WAV_PATH_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="speechId != null" >
        #{speechId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="silkPath != null" >
        #{silkPath,jdbcType=VARCHAR},
      </if>
      <if test="webnPath != null" >
        #{webnPath,jdbcType=VARCHAR},
      </if>
      <if test="wavPath != null" >
        #{wavPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.persistence.domain.Speech" >
    update sys_speech
    <set >
      <if test="userId != null" >
        USER_ID_ = #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        DATE_ = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="silkPath != null" >
        SILK_PATH_ = #{silkPath,jdbcType=VARCHAR},
      </if>
      <if test="webnPath != null" >
        WEBN_PATH_ = #{webnPath,jdbcType=VARCHAR},
      </if>
      <if test="wavPath != null" >
        WAV_PATH_ = #{wavPath,jdbcType=VARCHAR},
      </if>
    </set>
    where SPEECH_ID_ = #{speechId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.persistence.domain.Speech" >
    update sys_speech
    set USER_ID_ = #{userId,jdbcType=INTEGER},
      DATE_ = #{date,jdbcType=TIMESTAMP},
      SILK_PATH_ = #{silkPath,jdbcType=VARCHAR},
      WEBN_PATH_ = #{webnPath,jdbcType=VARCHAR},
      WAV_PATH_ = #{wavPath,jdbcType=VARCHAR}
    where SPEECH_ID_ = #{speechId,jdbcType=INTEGER}
  </update>
</mapper>