<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.persistence.dao.SpeechRecordDao" >
  <resultMap id="BaseResultMap" type="com.sys.persistence.domain.SpeechRecord" >
    <id column="RECORD_ID_" property="recordId" jdbcType="VARCHAR" />
    <result column="SONG_ID_" property="songId" jdbcType="VARCHAR" />
    <result column="USER_ID_" property="userId" jdbcType="VARCHAR" />
    <result column="SPEECH_ID_" property="speechId" jdbcType="VARCHAR" />
    <result column="REGNITION_EMOTION_ID_" property="regnitionEmotionId" jdbcType="VARCHAR" />
    <result column="DATE_" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECORD_ID_, SONG_ID_, USER_ID_, SPEECH_ID_, REGNITION_EMOTION_ID_, DATE_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_speech_record
    where RECORD_ID_ = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_speech_record
    where RECORD_ID_ = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sys.persistence.domain.SpeechRecord" >
    insert into sys_speech_record (RECORD_ID_, SONG_ID_, USER_ID_, 
      SPEECH_ID_, REGNITION_EMOTION_ID_, DATE_
      )
    values (#{recordId,jdbcType=VARCHAR}, #{songId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{speechId,jdbcType=VARCHAR}, #{regnitionEmotionId,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.persistence.domain.SpeechRecord" >
    insert into sys_speech_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        RECORD_ID_,
      </if>
      <if test="songId != null" >
        SONG_ID_,
      </if>
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="speechId != null" >
        SPEECH_ID_,
      </if>
      <if test="regnitionEmotionId != null" >
        REGNITION_EMOTION_ID_,
      </if>
      <if test="date != null" >
        DATE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="songId != null" >
        #{songId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="speechId != null" >
        #{speechId,jdbcType=VARCHAR},
      </if>
      <if test="regnitionEmotionId != null" >
        #{regnitionEmotionId,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.persistence.domain.SpeechRecord" >
    update sys_speech_record
    <set >
      <if test="songId != null" >
        SONG_ID_ = #{songId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID_ = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="speechId != null" >
        SPEECH_ID_ = #{speechId,jdbcType=VARCHAR},
      </if>
      <if test="regnitionEmotionId != null" >
        REGNITION_EMOTION_ID_ = #{regnitionEmotionId,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        DATE_ = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RECORD_ID_ = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.persistence.domain.SpeechRecord" >
    update sys_speech_record
    set SONG_ID_ = #{songId,jdbcType=VARCHAR},
      USER_ID_ = #{userId,jdbcType=VARCHAR},
      SPEECH_ID_ = #{speechId,jdbcType=VARCHAR},
      REGNITION_EMOTION_ID_ = #{regnitionEmotionId,jdbcType=VARCHAR},
      DATE_ = #{date,jdbcType=TIMESTAMP}
    where RECORD_ID_ = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>