<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.persistence.dao.SpeechRecordDao" >
  <resultMap id="BaseResultMap" type="com.sys.persistence.domain.SpeechRecord" >
    <id column="RECORD_ID_" property="recordId" jdbcType="INTEGER" />
    <result column="MUSIC_ID_" property="musicId" jdbcType="INTEGER" />
    <result column="USER_ID_" property="userId" jdbcType="INTEGER" />
    <result column="SPEECH_ID_" property="speechId" jdbcType="INTEGER" />
    <result column="DATE_" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECORD_ID_, MUSIC_ID_, USER_ID_, SPEECH_ID_, DATE_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_speech_record
    where RECORD_ID_ = #{recordId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdAndDate" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_speech_record
    where USER_ID_ = #{userId,jdbcType=INTEGER}
    and DATE_ BETWEEN #{dateBegin,jdbcType=VARCHAR} AND #{dateEnd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_speech_record
    where RECORD_ID_ = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sys.persistence.domain.SpeechRecord" >
    insert into sys_speech_record (RECORD_ID_, MUSIC_ID_, USER_ID_, 
      SPEECH_ID_, DATE_)
    values (#{recordId,jdbcType=INTEGER}, #{musicId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{speechId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sys.persistence.domain.SpeechRecord" >
    insert into sys_speech_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        RECORD_ID_,
      </if>
      <if test="musicId != null" >
        MUSIC_ID_,
      </if>
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="speechId != null" >
        SPEECH_ID_,
      </if>
      <if test="date != null" >
        DATE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="musicId != null" >
        #{musicId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="speechId != null" >
        #{speechId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.persistence.domain.SpeechRecord" >
    update sys_speech_record
    <set >
      <if test="musicId != null" >
        MUSIC_ID_ = #{musicId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID_ = #{userId,jdbcType=INTEGER},
      </if>
      <if test="speechId != null" >
        SPEECH_ID_ = #{speechId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        DATE_ = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RECORD_ID_ = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.persistence.domain.SpeechRecord" >
    update sys_speech_record
    set MUSIC_ID_ = #{musicId,jdbcType=INTEGER},
      USER_ID_ = #{userId,jdbcType=INTEGER},
      SPEECH_ID_ = #{speechId,jdbcType=INTEGER},
      DATE_ = #{date,jdbcType=TIMESTAMP}
    where RECORD_ID_ = #{recordId,jdbcType=INTEGER}
  </update>
</mapper>