<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.persistence.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.sys.persistence.domain.User" >
    <id column="USER_ID_" property="userId" jdbcType="VARCHAR" />
    <result column="FULLNAME_" property="fullname" jdbcType="VARCHAR" />
    <result column="ACCOUNT_" property="account" jdbcType="VARCHAR" />
    <result column="PASSWORD_" property="password" jdbcType="VARCHAR" />
    <result column="EMAIL_" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE_" property="mobile" jdbcType="VARCHAR" />
    <result column="WEIXIN_" property="weixin" jdbcType="VARCHAR" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PHOTO_" property="photo" jdbcType="VARCHAR" />
    <result column="SEX_" property="sex" jdbcType="VARCHAR" />
    <result column="AGE_" property="age" jdbcType="INTEGER" />
    <result column="LIMIT_" property="limit" jdbcType="INTEGER" />
    <result column="USER_TYPE_" property="userType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID_, FULLNAME_, ACCOUNT_, PASSWORD_, EMAIL_, MOBILE_, WEIXIN_, CREATE_TIME_, 
    PHOTO_, SEX_, AGE_, LIMIT_, USER_TYPE_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where USER_ID_ = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select * from sys_user
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where USER_ID_ = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sys.persistence.domain.User" >
    insert into sys_user (USER_ID_, FULLNAME_, ACCOUNT_, 
      PASSWORD_, EMAIL_, MOBILE_, 
      WEIXIN_, CREATE_TIME_, PHOTO_, 
      SEX_, AGE_, LIMIT_, USER_TYPE_
      )
    values (#{userId,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{weixin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{photo,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.persistence.domain.User" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="fullname != null" >
        FULLNAME_,
      </if>
      <if test="account != null" >
        ACCOUNT_,
      </if>
      <if test="password != null" >
        PASSWORD_,
      </if>
      <if test="email != null" >
        EMAIL_,
      </if>
      <if test="mobile != null" >
        MOBILE_,
      </if>
      <if test="weixin != null" >
        WEIXIN_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="photo != null" >
        PHOTO_,
      </if>
      <if test="sex != null" >
        SEX_,
      </if>
      <if test="age != null" >
        AGE_,
      </if>
      <if test="limit != null" >
        LIMIT_,
      </if>
      <if test="userType != null" >
        USER_TYPE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null" >
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="limit != null" >
        #{limit,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.persistence.domain.User" >
    update sys_user
    <set >
      <if test="fullname != null" >
        FULLNAME_ = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        ACCOUNT_ = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD_ = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL_ = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE_ = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        WEIXIN_ = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        PHOTO_ = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX_ = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE_ = #{age,jdbcType=INTEGER},
      </if>
      <if test="limit != null" >
        LIMIT_ = #{limit,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        USER_TYPE_ = #{userType,jdbcType=INTEGER},
      </if>
    </set>
    where USER_ID_ = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.persistence.domain.User" >
    update sys_user
    set FULLNAME_ = #{fullname,jdbcType=VARCHAR},
      ACCOUNT_ = #{account,jdbcType=VARCHAR},
      PASSWORD_ = #{password,jdbcType=VARCHAR},
      EMAIL_ = #{email,jdbcType=VARCHAR},
      MOBILE_ = #{mobile,jdbcType=VARCHAR},
      WEIXIN_ = #{weixin,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      PHOTO_ = #{photo,jdbcType=VARCHAR},
      SEX_ = #{sex,jdbcType=VARCHAR},
      AGE_ = #{age,jdbcType=INTEGER},
      LIMIT_ = #{limit,jdbcType=INTEGER},
      USER_TYPE_ = #{userType,jdbcType=INTEGER}
    where USER_ID_ = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>